@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Medium.ttf") format("truetype");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
}

.header {
  min-height: 190px;
  max-width: 1110px;
  min-width: 380px;
  margin: auto;
  background: #ffffff;
  box-sizing: border-box;
}

.sitetoolbar {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  width: 100%;
  background: black;
  color: white;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.switcher-info {
  display: flex;
  align-items: center;
  min-height: 40px;
  color: #a1a1a1;
}

.switcher-info_language {
  position: relative;
  padding: 0px 8px 0px 15px;
}

.switcher-info_currency {
  padding: 0px 35px 0px 0px;
  position: relative;
}

.switcher-info_language-option,
.switcher-info_currency-option {
  width: 63px;
  background: black;
  color: white;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(..//img/sprite.png);
  background-repeat: no-repeat;
  background-position: 29px -57px;
}

.switcher-info_currency-option {
  background-position: 49px -57px;
}

.switcher-info_language-option option,
.switcher-info_currency-option option {
  background: black;
  cursor: pointer;
}

.user-account {
  display: flex;
  align-items: center;
}

.user-account_contact,
.user-account_login {
  padding: 0px 20px;
}

.user-account a {
  color: white;
  text-decoration: none;
}

.user-account a:hover {
  color: #a1a1a1;
}

.switcher-info strong {
  color: white;
}

.header-main {
  height: 88px;
  width: 100%;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  overflow: hidden;
}

.header-main_search_logo {
  display: inline-block;
  min-width: 190px;
  width: calc(100% - 192px);
  text-align: center;
  height: 88px;
  user-select: none;
  overflow: hidden;
}

.header-main_search_logo img {
  position: relative;
  top: calc(50% - 15px);
}

.header-main_search,
.header-main_basket {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 90px;
  height: 88px;
  box-sizing: border-box;
}

.header-main_basket {
  border-left: 1px solid #e5e5e5;
}

.header-main_search {
  border-right: 1px solid #e5e5e5;
}

.header-main_search:after {
  position: absolute;
  content: '';
  display: block;
  background: url(..//img/sprite.png);
  background-repeat: no-repeat;
  top: calc(50% - 10px);
  left: calc(50% - 9px);
  height: 21px;
  width: 21px;
}

.header-main_basket:after {
  position: absolute;
  content: '';
  display: block;
  background: url(..//img/sprite.png);
  background-repeat: no-repeat;
  background-position: 0px -23px;
  top: calc(50% - 20px);
  left: calc(50% - 13px);
  height: 36px;
  width: 39px;
}

.header-main_basket:before {
  position: absolute;
  content: '0';
  display: block;
  top: calc(50% - 18px);
  left: calc(50% + 13px);
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  color: #d3d3d3;
  font-size: 12px;
  z-index: 100;
}

.nav {
  position: relative;
  top: -3px;
  display: block;
  justify-content: center;
  align-items: center;
  min-height: 63px;
  width: 100%;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 63px;
  max-width: 100%;
  margin: auto;
  box-sizing: border-box;
  transition: top 1s ease-out 0.5s
}

.navbar a {
  position: relative;
  display: block;
  padding: 0px 34px;
  color: black;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  transition: top 1s ease-out 0.5s
}

.navbar .active:after {
  content: '';
  position: absolute;
  bottom: -23px;
  left: 5%;
  display: block;
  background: black;
  width: 90%;
  height: 3px;
}

.navbar a:hover:after {
  content: '';
  position: absolute;
  bottom: -23px;
  left: 5%;
  display: block;
  background: black;
  width: 90%;
  height: 3px;
}

.nav-toggle {
  display: none;
}

@media (max-width: 650px) {
 .navbar a {
    padding: 0px 5%;
  }
}

@media (max-width: 550px) {
  .user-account_contact {
    padding: 0px;
    width: 70px;
  }
  .user-account_login {
    width: 45px;
  }
  .navbar {
    display: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 88px;
    width: 100%;
    background: #ffffff;
    margin: auto;
    box-sizing: border-box;
  }
  .navbar a {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 20px;
    font-weight: 500;
    border-top: 1px solid #ddd9d9;
  }
  .navbar a:hover {
    background: #f4f4f4;
  }
  .navbar a:after {
    content: '';
    position: absolute;
    bottom: -36px;
    left: 5%;
    display: block;
    background: #b1b1b1;
    height: 0px;
  }
  .nav-toggle {
    position: relative;
    display: block;
    width: 100%;
    height: 61px;
    text-decoration: none;
  }
  .nav-toggle:before {
    content: "MENU";
    position: absolute;
    display: block;
    margin: auto;
    left: 49%;
    top: 40%;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: black;
  }
  .nav-toggle:after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    margin: auto;
    left: 61%;
    top: 45%;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-weight: bold;
    background: url(..//img/sprite.png);
    background-repeat: no-repeat;
    background-position: -0px -67px;
    color: black;
  }
  .nav-toggle_open:after {
    transform: rotate(90deg);
  }
  .navbar .active:after {
    bottom: 0px;
    left: 0%;
    background: #cbcaca;
    width: 100%;
    height: 2px;
  }
  .navbar a:hover:after {
    bottom: 0px;
    left: 0%;
    background: #cbcaca;
    width: 100%;
    height: 2px;
  }
  .navbar_close {
    display: block;
  }
}